## node configuration

PORT=3000
DEBUG_MODE=false

## bot configuration

AMBIENT_MODE=false                  # when ambient mode false, users must unsilence for ambient
RESPONSE_COOLDOWN_SECONDS=300       # default ambient frequency per user
ADMIN_USERS=                        # comma delimited Slack IDs (ADMIN_USERS=U01234ABCDE,U56789FGHIJ)
PERSISTENT_STORAGE=                 # where to store files that persist between deployments
LOG_CHANNEL=                        # Slack channel ID to receive copies of log messages

## OpenAI Configuration

CHUNK_SIZE=3000                     # Size of document chunks; increase for more fidelity
MAX_CHUNKS=8                        # Number of document chunks; increase for more fidelity
MAX_COMPLETION_TOKENS=4000          # limit gpt token size as cost backstop
MODEL=gpt-5-mini                    # gpt-5-nano gpt-5-mini
OPENAI_API_KEY=your-openai-key

## Slack Configuration

SLACK_BOT_TOKEN=your-slack-bot-token
SLACK_SIGNING_SECRET=your-slack-signing-secret
