PORT=3000
DEBUG_MODE=false
RESPONSE_COOLDOWN_SECONDS=300 # prevent too many messages to same user

# break up the source docs to reduce delivery w/ LLM
CHUNK_SIZE=3000      # Characters per chunk
MAX_CHUNKS=8         # Number of chunks to send to AI

## OpenAI
MODEL=gpt-5-mini    # gpt-5-nano gpt-5-mini
MAX_COMPLETION_TOKENS=4000 # limit gpt token size
OPENAI_API_KEY=sk-your-open-ai-api-key

## Slack
SLACK_BOT_TOKEN=your-slack-bot-token
SLACK_SIGNING_SECRET=your-slack-signing-secret